@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Color+Emoji&display=swap');
@import '@unocss/reset/tailwind.css';

:root {
  --main-width: 1440px;
  --main-min-width: 1440px;
  --color-takane33:#a6126b33;
}

html {
  @apply transition-colors duration-300;
}

body {
  @apply text-gray-800 dark:text-gray-200 bg-white dark:bg-gray-900;
  @apply leading-normal font-normal;
  font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; 
  word-break: break-word;
}
 

.bg-texture {
 @apply bg-[image:repeating-linear-gradient(315deg,_var(--color-takane33)_0,_var(--color-takane33)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-fixed ;
}
 