@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Color+Emoji&display=swap');
@import '@unocss/reset/tailwind.css';

html,body{
  color:#333333;
  line-height: 1.5em;
  font-weight: 400; 
  font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; 
  word-break: break-word; 
}
:root {
  --main-width: 1440px;
  --main-min-width: 1440px;
  --color-takane33:#a6126b33;
}
@media screen and (min-width: 1920px) {
  :root {
    --main-width: 67.777vw;
  }
}
@media screen and (max-width: 1536px) {
  :root {
    --main-width: 1440px;
  }
}
@media screen and (max-width: 1280px) {
  :root {
    --main-width: 100vw;
    --main-min-width: 100vw;
   }
   .main-container{
    @apply px-4;
   }
}
.main-container {
  width: var(--main-width);
  min-width: var(--main-min-width);
  margin: 0 auto;
}

.bg-texture {
 @apply bg-[image:repeating-linear-gradient(315deg,_var(--color-takane33)_0,_var(--color-takane33)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-fixed ;
}
 